* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button{
    background-color:blue;
    padding:10px;
    height:40px;  
    width:80px;
    border:0;
    color:#ffffff;
    cursor:pointer;
}